<link rel="stylesheet" href="css/homepagestyle.css">

<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <div class="search">
        <div class="searchform">
          <label for="title">Book Search</label>
          <input type="text" id="title" name="name">
          <input type="submit" id="submitbtn" value="Submit">
          <!-- value submit -->
          {{!-- </> --}}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="bookForm1">
  <div class="flip-card">
    <div class="flip-card-inner">
     
      <div class="flip-card-front">
        {{!-- <h1 class="authorName">{{authors}}</h1>

        <img class="bookimg1" src={{thumbnailImg}} alt="Avatar" style="width:300px;height:300px;" />
        <p class="bookTitle1">{{title}} </p> --}}
        {{!-- <img src="img_avatar.png" alt="Avatar" style="width:150px;height:200px;"> --}}
      </div>
   
      <div class="flip-card-back">


        <button class="w3-button w3-black" id="checkoutBtn">Add to Cart </button>
        <button class="w4- button">Add to Wishlist</button>

      </div>
    </div>
  </div> 
</div>
<div class="bookForm2">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        {{!-- <h1 class="authorName">{{authors}}</h1>

        <img class="bookimg2" src={{thumbnailImg}} alt="Avatar" style="width:300px;height:300px;" />
        <p class="bookTitle2">{{title}} </p> --}}
        {{!-- <img src="img_avatar.png" alt="Avatar" style="width:150px;height:200px;"> --}}
      </div>
      <div class="flip-card-back">


        <button class="w3-button w3-black" id="checkouBtn">Add to Cart </button>
        <button class="w4- button">Add to Wishlist</button>

      </div>
    </div>
  </div> 
</div>
<div class="bookForm3">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        {{!-- <h1 class="authorName">{{authors}}</h1>

        <img class="bookimg3" src={{thumbnailImg}} alt="Avatar" style="width:300px;height:300px;" />
        <p class="bookTitle3">{{title}} </p> --}}

      </div>
      <div class="flip-card-back">


        <button class="w3-button w3-black" id="checkouBtn">Add to Cart </button>
        <button class="w4- button">Add to Wishlist</button>

      </div>
    </div>
  </div> 
</div>
<div class="bookForm4">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        {{!-- <h1 class="authorName4">{{authors}}</h1>

        <img class="bookimg4" src={{thumbnailImg}} alt="Avatar" style="width:300px;height:300px;" />
        <p class="bookTitle4">{{title}} </p> --}}
        {{!-- <img src="img_avatar.png" alt="Avatar" style="width:150px;height:200px;"> --}}
      </div>
      <div class="flip-card-back">


        <button class="w3-button w3-black" id="checkouBtn">Add to Cart </button>
        <button class="w4- button">Add to Wishlist</button>

      </div>
    </div>
  </div> 
</div>
<div class="bookForm5">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        {{!-- <h1 class="authorName5">{{authors}}</h1>

        <img class="bookimg5" src={{thumbnailImg}} alt="Avatar" style="width:300px;height:300px;" />
        <p class="bookTitle5">{{title}} </p> --}}
        {{!-- <img src="img_avatar.png" alt="Avatar" style="width:150px;height:200px;"> --}}
      </div>
      <div class="flip-card-back">


        <button class="w3-button w3-black" id="checkouBtn">Add to Cart </button>
        <button class="w4- button">Add to Wishlist</button>

      </div>
    </div>
  </div> 
</div>
 


      
      <script src="/js/bookdisplay.js"></script>