<link rel="stylesheet" href="/css/homepage.css">

<div class="booklayout">
  
  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bookForm">
    <div class="card">
      <div class="card-front">
        <div class="cardFace">
          <div class="cardContent">
            <h2>{{this.booktitle}}</h2>
            <p class="author">{{this.bookauthor}}</p>
            <img src="{{this.img}}" alt="Book Cover">
            <div class="button-container">
              <button class="button cart">Add to Cart</button>
              <button class="button wishlist">Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="/public/js/bookdisplay.js"></script>